:root {
    --overskrift-h1: 'futura-pt', sans-serif;
    --overskrift-h2: 'linotype-didot', serif;
    --broedtekst-skrift: 'futura-pt', sans-serif;
    --broedtekst-farve: #626262;
    --nav-skrift: 'montserrat', sans-serif;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    line-height: inherit;
}

body {
    margin: 0;
}

html {
    overflow-x: hidden;
    height: 100%;
}

button {
    border: none;
}

img {
    width: 100%;
}

p {
    color: #626262;
}

/*MENU og HEADER*/
.header .logo {
    height: 100%;
    width: auto;
}

.header .logo img {
    height: 50px;
    width: auto;
}

.header {
    background-color: #ffffff;
    top: 0;
    /*behold menuen altid på toppen, når siden ikke kører lodret*/
    position: fixed;
    width: 100%;
    z-index: 30;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: block;
    padding: 20px 20px;
    background-color: #ffffff;
    color: #767676;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #9cb7dd;
}

.header .logo {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

/* menu */
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    z-index: 9999;
}

/* menu icon */
.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    background: #000000;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    background: #000000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */
.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 440px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

#contentwp {
    margin: 20vw 6vw;
}

/*
video {
    object-fit: scale-down;
}
.video_container {
    padding: 3vw;
}
*/

#contentwp h1,
#singlecollection h1 {
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    text-align: center;
    color: #626262;
    padding-bottom: 0;
    margin: 1.5rem;
}

@media only screen and (max-width:600px) {

    .acollection h2 {
        text-align: center;
    }
}

.acollection h2 {
    font-family: linotype-didot, serif;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 4.3rem;
}

.describe {
    font-family: futura-pt-light, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #626262;
    padding: 2vw 0;
    line-height: 1.6rem;
}

.acollection {
    margin: 4.5vw;
}

.seemorebtn {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #b4a9a9;
    width: 35vw;
    padding: 1vw;
    margin: 2.8vw 0;
    transition: width 0.8s;
}

.seemorebtn p,
.long-arrow-white {
    text-align: center;
    font-family: var(--nav-skrift);
    font-size: 2.8vw;
    color: white;
    padding: 1.3vw;
    transition: width 0.8s;
}

.seemorebtn img {
    height: 1.8vw;
    width: 5vw;
}

.seemorebtn:hover {
    width: 38vw;
    transition-timing-function: ease-in-out;
}

.seemorebtn p:hover,
.seemorebtn p:active {
    cursor: pointer;
}

.contentlist {
    padding: 1vw 0;
}

/*Footer*/

.footer {
    text-align: center;
    position: sticky;
    font-family: 'Poppins', sans-serif;
    color: #626262;
}

.media_wrapper {
    display: flex;
    justify-content: center;
}

hr {
    width: 85%;
    border: 0.7px solid #cecdcd;
}

p.txt {
    font-size: 0.8rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

p.txt_1 {
    padding-bottom: 1rem;
}

.item {
    font-size: 1.5rem;
    margin: 1rem 1rem 0rem 1rem;
    color: #626262;
    padding-top: 1rem;
}

.fa {
    width: 50px;
}

.copyright {
    font-size: 10px;
}


@media only screen and (max-width: 600px) {
    .header .logo {
        width: 10rem;
    }

    #contentwp h1,
    #singlecollection h1 {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 600px) {
    .header .logo {
        width: 10rem;
        padding-left: 2.5rem;
    }
}

@media only screen and (min-width: 600px) {
    .header {
        background-color: #ffffff;
        position: fixed;
        width: 100%;
        z-index: 3;
    }

    .header li a {
        display: block;
        padding: 20px 20px;
        text-align: center;
        text-decoration: none;
        background-color: transparent;
    }
}

@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

/*If the screen is min. 800px and bigger --- TABLET og andre*/
@media only screen and (min-width: 800px) {

    /*--artworks.html--*/
    #contentwp h1,
    #singlecollection h1 {
        font-size: 1.5rem;
    }

    #contentwp {
        margin: 12vw 5vw;
    }

    .seemorebtn p,
    .long-arrow-white {
        font-size: 1.3vw;
        padding: 0;
    }

    .seemorebtn {
        width: 15vw;
        height: 4vw;
        padding: 0;
        margin: 0 0 2vw;
    }

    .seemorebtn:hover {
        width: 18vw;
    }

    .acollection h2 {
        font-size: 4.5vw;
        padding-top: 18vw;
        word-wrap: break-word;
        hyphens: auto;
    }

    .acollection {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .collection_name {
        flex-basis: 300px;
        flex-grow: 1;
        padding: 2vw;
    }

    .collection_content {
        flex-basis: 300px;
        flex-grow: 1;
    }

    .acollection:nth-child(even) {
        flex-direction: row-reverse;
    }
}
