/*MENU og HEADER*/
.header .logo {
    height: 100%;
    width: auto;
}

.header .logo img {
    height: 50px;
    width: auto;
}

.header {
    background-color: #ffffff;
    top: 0;
    /*behold menuen altid på toppen, når siden ikke kører lodret*/
    position: fixed;
    width: 100%;
    z-index: 30;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: block;
    padding: 20px 20px;
    background-color: #ffffff;
    color: #767676;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #9cb7dd;
}

.header .logo {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

@media only screen and (max-width: 600px) {
    .header .logo {
        width: 10rem;
    }
}

@media only screen and (min-width: 600px) {
    .header .logo {
        width: 10rem;
        padding-left: 2.5rem;
    }
}


@media only screen and (min-width: 600px) {
    .header {
        background-color: #ffffff;
        position: fixed;
        width: 100%;
        z-index: 3;
        font-family: 'Montserrat', sans-serif;
    }

    .header li a {
        display: block;
        padding: 20px 20px;
        text-align: center;
        text-decoration: none;
        background-color: transparent;
    }
}

/* menu */
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    z-index: 9999;
}

/* menu icon */
.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    background: #000000;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    background: #000000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */
.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 440px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

/*CONTACT*/

#pic {
    width: 100%;
    height: 650px;
}

.position_fixed {
    background-image: url(img/smartmockups_k41ve3ki.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/*Contact*/
/* Set the size of the div element that contains the map */
#txt_contact {
    text-align: center;
    padding-top: 7rem;
}

@media only screen and (max-width: 500px) {
    #map img {
        height: auto;
        min-height: 60vh;
    }
}

#contact .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#contact .col {
    flex-basis: 400px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: white;
    margin: 6vw;
}

#contact h1 {
    font-family: linotype-didot, serif;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 2.4rem;
    cursor: pointer;
}

#contact p {
    font-family: futura-pt-light, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6rem;
    color: #626262;
}

#contact img {
    position: relative;
    top: 0px;
    width: 100%;
    height: auto;

}

/*Position fixed picture*/
/*
#pic {
    width: 100%;
    height: 700px;
}

.position_fixed {
    background-image: url(img/smartmockups_k41ve3ki.jpg);
    background-size: cover;
    background-attachment: fixed;
}
*/

input[type=text],
select,
textarea {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #b4a9a9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

input[type=submit]:hover {
    background-color: #C8C7AE;
}

.container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}

/*Footer*/
hr {
    width: 85%;
    border: 0.7px solid #cecdcd;
}

.footerinfo {
    text-align: center;
    position: sticky;
    font-family: 'Poppins', sans-serif;
    color: #626262;
}

.somecontent {
    display: flex;
    justify-content: center;
}

.footerinfo p {
    font-size: 0.8rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.footerinfo .txt_1 {
    padding-bottom: 1rem;
}

.item {
    font-size: 1.5rem;
    margin: 1rem 1rem 0rem 1rem;
    color: #626262;
    padding-top: 1rem;
}

.fa {
    width: 50px;
}

.copyright {
    font-size: 10px;
}
