body {
    margin: 0;
}

/*MENU og HEADER*/
.header .logo {
    height: 100%;
    width: auto;
}

.header .logo img {
    height: 50px;
    width: auto;
}

.header {
    background-color: #ffffff;
    top: 0;
    /*behold menuen altid på toppen, når siden ikke kører lodret*/
    position: fixed;
    width: 100%;
    z-index: 30;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: block;
    padding: 20px 20px;
    background-color: #ffffff;
    color: #767676;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #9cb7dd;
}

.header .logo {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

@media only screen and (max-width: 600px) {
    .header .logo {
        width: 10rem;
    }
}

@media only screen and (min-width: 600px) {
    .header .logo {
        width: 10rem;
        padding-left: 2.5rem;
    }
}


@media only screen and (min-width: 600px) {
    .header {
        background-color: #ffffff;
        position: fixed;
        width: 100%;
        z-index: 3;
        font-family: 'Montserrat', sans-serif;
    }

    .header li a {
        display: block;
        padding: 20px 20px;
        text-align: center;
        text-decoration: none;
        background-color: transparent;
    }
}

/* menu */
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    z-index: 9999;
}

/* menu icon */
.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    background: #000000;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    background: #000000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */
.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 440px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}


/*VIDEO*/
#video {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    #splash_video {
        width: auto;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}


/*Artwork front page*/
#artwork h1 {
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #626262;
    padding-top: 3rem;
    padding-left: 6.5rem;
    margin: 1.5rem;

}

#artwork h2 {
    font-family: linotype-didot, serif;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2rem;
    font-size: 4.3rem;
}

#artwork p {
    font-family: futura-pt-light, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6rem;
    color: #626262;
    text-decoration: none;
}

.all_artwork_p {
    padding-top: 2.5rem;
    padding-bottom: 4.5rem;
    padding-left: 7.69rem;
    font-family: futura-pt-light, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width:600px) {
    .all_artwork_p {
        text-align: center;
        padding: 0;
        padding-bottom: 2rem;
    }
}

@media only screen and (max-width: 600px) {

    #artwork h1,
    h2,
    h3 {
        padding-left: 0;
        text-align: center;
    }

    #artwork h2 {
        margin: 0;
    }
}

.col img {
    position: relative;
    top: 0px;
    width: 100%;
    height: auto;
}

/*Position fixed picture*/
#pic {
    width: 100%;
    height: 500px;
}

.position_fixed {
    background-image: url(img/2018_DARE_TO_BE_DELICATE_100X120CM.jpeg);
    background-size: cover;
    background-attachment: fixed;
}


/*Exhibititon section on front page*/

#exhibition h1 {
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    text-align: center;
    color: #626262;
    padding-top: 4rem;
    padding-left: 6.5rem;
    margin: 1.5rem;
}

.sectionwrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-bottom: 1rem;
}

.sectionwrapper .col {
    flex-basis: 300px;
    margin: 1rem;
    padding: 0.8rem;
    overflow: hidden;
}

.sectionwrapper .img_col {
    height: 260px;
}

@media only screen and (max-width: 600px) {
    .sectionwrapper .item-3 {
        order: -1;
    }
}

.sectionwrapper .col #exhibition h2 {
    text-align: center;
    color: #626262;
    font-family: 'Montserrat', sans-serif;
}

#exhibition h2 {
    font-family: linotype-didot, serif;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 4.3rem;
}

h3 {
    font-family: futura-pt-light, sans-serif;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0.4rem;
    color: #626262;
}

#exhibition p {
    color: #626262;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.6;
}

#exhibition .icons {
    font-size: 60px;
    color: black;
    text-align: center;
}


.exhibition_button {
    background-color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    border: none;
    color: #000000;
    padding-top: 1rem;
    text-decoration: underline;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    ;
    cursor: pointer;
}

/*Footer*/

.footer {
    text-align: center;
    position: sticky;
    font-family: 'Poppins', sans-serif;
    color: #626262;
}

.media_wrapper {
    display: flex;
    justify-content: center;
}

hr {
    width: 85%;
    border: 0.7px solid #cecdcd;
}

p.txt {
    font-size: 0.8rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

p.txt_1 {
    padding-bottom: 1rem;
}

.item {
    font-size: 1.5rem;
    margin: 1rem 1rem 0rem 1rem;
    color: #626262;
    padding-top: 1rem;
}

.fa {
    width: 50px;
}

.copyright {
    font-size: 10px;
}
