:root {
    --overskrift-h1: 'futura-pt', sans-serif;
    --overskrift-h2: 'linotype-didot', serif;
    --broedtekst-skrift: 'futura-pt', sans-serif;
    --broedtekst-farve: #626262;
    --nav-skrift: 'montserrat', sans-serif;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    line-height: inherit;
}

body {
    margin: 0;
}

html {
    overflow-x: hidden;
    height: 100%;
}

button {
    border: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    margin: 0;
}

p {
    color: #626262;
}

h1 {
    font-family: var(--overskrift-h1);
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: #626262;
    font-size: 6vw;
    padding-left: 3vw;
}

h2 {
    font-family: var(--overskrift-h2);
    text-transform: uppercase;
    letter-spacing: 0.3vw;
    font-weight: 400;
    font-style: italic;
    font-size: 3.7vw;
    padding: 2vw 0;
}

/*MENU og HEADER*/
.header .logo {
    height: 100%;
    width: auto;
}

.header .logo img {
    height: 50px;
    width: auto;
}

.header {
    background-color: #ffffff;
    top: 0;
    /*behold menuen altid på toppen, når siden ikke kører lodret*/
    position: fixed;
    width: 100%;
    z-index: 30;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    padding: 20px 20px;
    background-color: #ffffff;
    color: #767676;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #9cb7dd;
}

.header .logo {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

/* menu */
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    z-index: 9999;
}

/* menu icon */
.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    background: #000000;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    background: #000000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */
.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 440px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/*Breadcrumbs*/
.breadcrumbs {
    margin-top: 20vw;
}

.breadcrumbs ul {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    display: inline-flex;
    padding-left: 3vw;
}

.breadcrumbs li a,
.breadcrumbs li + li:before {
    color: #767676;
    font-size: 3vw;
}

.breadcrumbs li + li:before {
    content: "/\00a0";
    padding: 2vw;
}

/*Contents*/
#singlecollection {
    margin: 5vw 0;
}

.onecol_list {
    display: grid;
    grid-gap: 2vw;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    margin: 3vw 3vw 7vw;
}

.onepainting {
    grid-row-end: span 2;
}

.onepainting .image_container {
    height: 260px;
    overflow: hidden;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 24%;
    width: auto;
    padding: 2vw;
    color: #626262;
    font-weight: bold;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/*Positions for the next and previous buttons*/

.next {
    left: 46%;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0.9%;
}

.prev,
.next {
    font-size: 4vw;
}

.onepicture,
.right {
    padding: 0 2vw;
}

.size,
.status,
.nameCol {
    font-family: var(--broedtekst-skrift);
    font-weight: 400;
    font-style: normal;
    line-height: 1.6rem;
    color: #626262;
}

.onepainting h2:hover,
.onepainting h2:active {
    cursor: pointer;
    text-decoration: underline;
}

.popup {
    position: fixed;
    top: 0;
    width: 200vw;
    height: 200vh;
    background: white;
    display: none;
    padding: 3vw 2vw;
    z-index: 50;
}

.popup_content {
    width: 90vw;
    height: 100vh;
    margin: 10vw 2vw 0 3vw;
    overflow: scroll;
    z-index: 80;
    padding: 6%;
}

.close {
    font-family: var(--nav-skrift);
    color: #767676;
    position: fixed;
    right: 3vw;
    font-size: 4.6vw;
    background-color: transparent;
    cursor: pointer;
}

.apainting {
    padding: 0 1vw;
    display: grid;
    grid-gap: 2vw;
}

/*Footer*/
hr {
    width: 85%;
    border: 0.7px solid #cecdcd;
}

.footerinfo {
    text-align: center;
    position: sticky;
    font-family: 'Poppins', sans-serif;
    color: #626262;
}

.somecontent {
    display: flex;
    justify-content: center;
}

p.txt {
    font-size: 0.8rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.item {
    font-size: 1.5rem;
    margin: 1rem 1rem 0rem 1rem;
    color: #626262;
    padding-top: 1rem;
}

.fa {
    width: 50px;
}

.copyright {
    font-size: 10px;
    padding-bottom: 1rem;
}

@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .header .logo {
        width: 10rem;
    }
}

@media only screen and (min-width: 600px) {
    .header .logo {
        width: 10rem;
        padding-left: 2.5rem;
    }

    .header {
        background-color: #ffffff;
        position: fixed;
        width: 100%;
        z-index: 3;
    }

    .header li a {
        display: block;
        padding: 20px 20px;
        text-align: center;
        text-decoration: none;
        background-color: transparent;
    }
}

/*If the screen is min. 800px and bigger --- TABLET og andre*/
@media only screen and (max-width: 1023px) and (min-width: 800px) {

    /*--singleCollection.html--*/
    #singlecollection {
        margin: 5vw 0;
    }

    h1 {
        font-size: 2rem;
    }

    .onecol_list {
        column-count: 3;
        margin: 4vw 3vw 4vw 5.5vw;
    }

    /*-Popup window-*/
    .apainting {
        grid-template-columns: repeat(2, 1fr);
    }

    .right {
        text-align: left;
        padding: 15vw 4vw;
    }

    .popup {
        padding: 4vw;
    }

    .popup_content {
        width: 70vw;
        margin: 2vw 10vw;
    }

    .close {
        font-size: 2.5vw;
    }

    .onepainting h2,
    .popup_content h2 {
        font-size: 2.3vw;
    }

    .next {
        left: 23%;
    }

    .prev {
        left: 5.8%;
    }

    .next,
    .prev {
        font-size: 2.2vw;
    }

    /*Breadcrumbs*/
    .breadcrumbs {
        margin-top: 10vw;
    }

    .breadcrumbs li a,
    .breadcrumbs li + li:before {
        color: #767676;
        font-size: 1.5vw;
    }

    .breadcrumbs li + li:before {
        content: "/\00a0";
        padding: 2vw;
    }

    footer {
        padding: 0 1vw;
    }

    footer p {
        padding: 0.5vw;
    }

    .footerinfo {
        padding: 2vw;
    }
}


/*If the screen is bigger than 1023px --- desktop*/
@media only screen and (min-width: 1024px) {

    /*Breadcrumbs*/
    .breadcrumbs {
        margin-top: 10vw;
    }

    .breadcrumbs ul {
        list-style: none;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        display: inline-flex;
        padding-left: 4vw;
    }

    .breadcrumbs li a,
    .breadcrumbs li + li:before {
        color: #767676;
        font-size: 1.2vw;
    }

    .breadcrumbs li + li:before {
        content: "/\00a0";
        padding: 2vw;
    }

    /*--singleCollection.html--*/
    h1 {
        padding-left: 5vw;
        font-size: 4vw;
    }

    .onecol_list {
        margin: 3vw 5.4vw;
    }

    /*-Popup window-*/
    .apainting {
        grid-template-columns: repeat(2, 1fr);
    }

    .right {
        text-align: left;
        padding: 15vw 4vw;
    }

    .popup {
        padding: 4vw;
    }

    .popup_content {
        width: 70vw;
        margin: 2vw 10vw;
    }

    .close {
        font-size: 2.5vw;
    }

    .onepainting h2,
    .popup_content h2 {
        font-size: 1.8vw;
        word-break: break-word;
        hyphens: auto;
    }

    .next {
        left: 23%;
    }

    .prev {
        left: 5.8%;
    }

    .next,
    .prev {
        font-size: 2.2vw;
    }
}

@media only screen and (min-width: 800px) {
    .popup_content {
        padding: 0;
    }

    .onepicture {
        display: block;
        align-content: center;
    }

}

@media only screen and (min-width: 1269px) {

    /*--singleCollection.html--*/
    .onepainting h2,
    .popup_content h2 {
        font-size: 1.5vw;
    }
}
