body {
    margin: 0;
}

/*MENU*/
.header .logo {
    height: 100%;
    width: auto;
}

.header .logo img {
    height: 50px;
    width: auto;
}

.header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 30;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: block;
    padding: 20px 20px;
    background-color: #ffffff;
    color: #767676;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #9cb7dd;
}

.header .logo {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

@media only screen and (max-width: 600px) {
    .header .logo {
        width: 10rem;
    }
}

@media only screen and (min-width: 600px) {
    .header .logo {
        width: 10rem;
        padding-left: 2.5rem;
    }
}


@media only screen and (min-width: 600px) {
    .header {
        background-color: #ffffff;
        position: fixed;
        width: 100%;
        z-index: 3;
        font-family: 'Montserrat', sans-serif;
    }

    .header li a {
        display: block;
        padding: 20px 20px;
        text-align: center;
        text-decoration: none;
        background-color: transparent;
    }
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    z-index: 9999;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    background: #000000;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    background: #000000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 440px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}



@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

/*Video*/

#video {
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 600px) {
    #splash_video {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media only screen and (max-width: 600px) {
    #splash_video {
        width: auto;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}



/*Artwork front page*/

#artwork h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: #626262;
    padding-top: 3rem;
    margin: 1.5rem;
}

#artwork h2 {
    font-family: linotype-didot, serif;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 4.7rem;
}

@media only screen and (max-width: 600px) {
    #artwork h1 {
        text-align: center;
    }
}


.col img {
    position: relative;
    top: 0px;
    width: 100%;
    height: auto;
}

/*Exhibititon front page*/

#exhibition h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #626262;
    padding: 1rem;
    margin: 1rem;
}

.sectionwrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: white;
}

.sectionwrapper .col {
    flex-basis: 300px;
    margin: 1rem;
    padding: 2rem;
    height: 260px;
    overflow: hidden;
}

.sectionwrapper .col #exhibition h2 {
    text-align: center;
    color: #626262;
    font-family: 'Montserrat', sans-serif;
}

#exhibition p {
    color: #626262;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.4;
}

#exhibition .icons {
    font-size: 60px;
    color: black;
    text-align: center;
}

.exhibition_button {
    background-color: #b4a9a9;
    font-family: 'Work Sans', sans-serif;
    border: none;
    color: #ffffff;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
